.img_client_logo{
	width: 130px;
}
.clint_logo_pad{
	padding-left: 30px;
	padding-right: 30px;
}
.img_div_width{
	width: 20% !important
}
.img_div_width{
	width: 20% 
}
.hr-divider{
	width: 10%;
	border-top: 2px solid #005984;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    display: table;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 12px;
}
.place_error_color{
	border: 1px solid red;
}
.place_error_color::-webkit-input-placeholder {
    color: red;
}

.captl {
	text-transform: uppercase;
	font-size: 25px;
}
.captl-os {
	text-transform: none;
	text-align: center;
}
.wid78 {
}
.drcntcrw {
	font-size: 48px;
    text-transform: uppercase;
    line-height: 1.4;
	margin-top: 0;
}
.ftrcltact {
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(0, 40, 58, 0.43);
}
.inqbtn {
	background: #cd0000;
    width: 267px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    height: 70px;
    align-items: center;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-family: 'DIN';
    border-radius: 4px;
    margin-top: 25px;
}
.ifrmstldec {
	background: white;
    padding: 11px;
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
.phonenumctlml {
	padding-left: 0px;
    padding-right: 0px;
}
.emailcmntlrr {
	padding-left: 0px;
	padding-right: 0px;
}
.tbmrg90 {
	margin-bottom: 80px; 
}
/*manali*/
.welcome-content-pattern{
	position: relative;
  z-index: 1;
}
.welcome-content-pattern .about-bg-pattern{
	position:absolute;
	width: 40%;
    left: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
}
.welcome-content-pattern .about-bg-pattern img{
	height:100%;
	width:auto;
	-webkit-animation: bounce 7s infinite alternate;
}
.about-margin{
	padding-bottom:40px !important;
}
.service-icon{
	background-color: #e7f2fd;
    width: 110px;
    height: 110px;
    font-size: 42px;
    color: #303030;
    text-align: center;
    line-height: 110px;
    border-radius: 200px 200px 200px 200px;
    margin: 0 auto 30px;
}
.services-item-div-height{
	height: 460px !important;
}
.service-icon:hover{
	background-color: #1583e9;
  color: #ffffff;
  -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
}
.owl-carousel1 .item{
  margin: 3px;
}
#owl-carousel1 .item img{
  display: block;
  width: 100%;
  height: auto;
}
/* .owl-controls{
	position:inherit !important;
} */
.work-withus h2{
	font-size: 40px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-top: 0;
}
.work-withus h6{
	font-size: 18px;
  margin-bottom: 0;
  color: #a6a6a6;
}
.portfolio{
	padding: 70px 0px;
}
.enqnow{
	float:right !important;
}
.align-btn{
	align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.arrow_right:before{
	content: "\24";
}
.owl-hover{
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
	right:0;
	z-index:20;
	background-color: rgba(231, 242, 253, 0.9);
	padding: 40px 30px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
}
.owl-carousel1 .item {
    position: relative;
}
.owl-carousel1 .item:hover .owl-hover {
	opacity: 1;
	visibility: visible;
}
.owl-hover h4{
	font-weight: 600;
}
.owl-arrow{
	-webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 100;
    text-align: center;
    line-height: 65px;
    font-size: 24px;
}
.arrow-color{
	color:#000;
}
.arrow-color:hover{
	color:#000;
}
.owl-arrow:hover{
	background-color:#1583e9;
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
.mgtopizero {
	margin-top: 0px;
}
.mgitop25 {
	margin-top: 25px;
}
/*end manali*/
@media only screen and (min-width: 1051px) {

.extra_facility_box_div {
	display: grid;
	grid-template-columns: 160px 160px 160px;
	color: #000;
}
.header_text_main {
	padding: 0px;
}
.how-it-works {
}
.hie-content {
	width: 75%;
}
.hiw-box {
	position: relative;
}
/* .stikcy-note-div {
	position: absolute;
    top: 60px;
    left: -60px;
} */
}
@media only screen and (min-width: 960px) and (max-width: 1050px) {
	.bg_box {
		display: none;
	}
	.extra_facility_box_div {
		display: grid;
		grid-template-columns: 160px 160px ;
		color: #000;
	}
	.extra_facility_box {
		padding: 20px 10px 10px 10px;
	}
	.extra_facility_box_div .extra_facility_box:nth-child(3) {
		margin: 0 5px 10px 0	
	}
	.extra_facility_box_div .extra_facility_box:nth-child(4) {
		margin-right: 0;
		margin-left: 5px;
	}
	.extra_facility_box_div .extra_facility_box:nth-child(2) {
		margin-right: 0;
	}
	.extra_facility_box_div .extra_facility_box:nth-child(5) {
		margin-left: 0;
	}
	.hie-content {
		width: 70%;
		vertical-align: text-bottom;
	}
	.hiw-sticky-note {
		display: none;
	}
	.hie-content p {
		padding: 0  0 0 10px;
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 768px){
		
	.clint_logo_pad{
		padding-left: 0;
	}
	.blockchain_powered .service-item h2 {
		font-size: 32px;
	}
	.rev_discription {
		min-height: 168px;
	}
	.product_item p {
		min-height: 147px;
	}
	.oservices-hsub-title {
		text-align: center;
		line-height: 1.7;
	}
	.our-client {
		padding: 30px 0 50px 0;
	}
	.our-services .row {
		margin-bottom: 0px;
	}
	.welcome {
		padding: 30px 0 30px 0;
	}
	.info-about {
		padding-top: 10px;
	}
	.captl-os {
		font-size: 32px;
	}
	.our-services-header {
		padding: 0;
	}
	.section-kf p {
		text-align: center;
	}
	.welcome-header h2 {
		font-size: 32px;
	}
	.about-grid .info-about {
		padding-top: 50px;
	}
	.about-bg-pattern{
		display:none;
	}
	.bg_box {
		display: none;
	}
	.extra_facility_box_div {
		display: grid;
		grid-template-columns: 160px 160px !important;
		color: #000;
	}
	.extra_facility_box {
		padding: 20px 10px 10px 10px;
	}
	.extra_facility_box_div .extra_facility_box:nth-child(3) {
		margin: 0 5px 10px 0	
	}
	.extra_facility_box_div .extra_facility_box:nth-child(4) {
		margin-right: 0;
		margin-left: 5px;
	}
	.extra_facility_box_div .extra_facility_box:nth-child(2) {
		margin-right: 0;
	}
	.extra_facility_box_div .extra_facility_box:nth-child(5) {
		margin-left: 0;
	}
	.header_text_main {
		padding: 0px 30px;
	}
	.facility-div .facility{
		text-align: left;
	}
	.hiw-box {
		justify-content: flex-start;
		margin-bottom: 20px;
	}
	.header-row-hiw {
		padding: 0 20px;
	}
	.hiw-row-content {
		padding: 0 20px;
	}
	.hie-content {
		width: 80%;
		vertical-align: text-bottom;
	}
	.hiw-sticky-note {
		display: none;
	}
	.hiw-header h2 {
		margin-bottom: 30px;
	}
	.hie-content p {
		font-size: 16px;
	}
}	
@media only screen and (max-width: 500px){

	.top-message h1 {
		margin-top: 20px;
	}
	#free_demo_submit {
		font-size: 16px;
	}
	.top-header {
		background-size: cover;
	}
	#main-slider-form {
		margin-top: 30px;
	}
	.welcome h2{
		font-size: 24px;
	}
	.our-services h2 {
		font-size: 24px;
	}
	.our-services p {
		width: 100%;
	}
	.welcome p {
		width: 100%;
	}
	.img_div_width{
		width: 100%;
		margin-bottom: 30px;
	}	
	.clients_logo_style{
		display: block;
		text-align: center;
	}
	.cinfo ul{
		text-align: center;
	}
	.blockchain_powered_row {
		display: unset;
	}
	.blockchain_powered .service-item img {
		width: 100%;
	}
	.blockchain_powered .service-item h2 {
		text-align: center;
		font-size: 20px;
	}
	.blockchain_powered .service-item p {
		text-align: center;
	}
	.blockchain_powered .service-item h5 {
		text-align: center;font-size: 18px;
	}
	.text_div h1 {
		font-size: 30px;
	}
	.store_img img.app_store {
	    margin-right: 0;
	    margin-bottom: 16px;
	}
	.product_item {
		margin-bottom: 30px;
	}
	.product_item p {
		min-height: unset;
	}
	.ifrmstldec {
	width: 100%;
	}
	.drcntcrw {
    font-size: 38px;
	}
	.comp_logo {
    margin: 0 auto;
	}
	.mblscroltbl {
	overflow-x: scroll;
	}
	.extra_facility_box_div {
		display: grid;
		grid-template-columns: 140px 140px !important;
		color: #000;
	}
	.extra_facility_box {
		padding: 20px 10px 10px 10px;
	}
	.extra_facility_box_div .extra_facility_box:nth-child(3) {
		margin: 0 5px 10px 0	
	}
	.extra_facility_box_div .extra_facility_box:nth-child(4) {
		margin-right: 0;
		margin-left: 5px;
	}
	.extra_facility_box_div .extra_facility_box:nth-child(2) {
		margin-right: 0;
	}
	.extra_facility_box_div .extra_facility_box:nth-child(5) {
		margin-left: 0;
	}
	.header_text_main {
		padding: 0;
	}
	.facility-div .facility{
		text-align: left;
	}
	.hiw-box {
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.hiw-header {
		padding: 0;
	}
	.hiw-header p {
		text-align: justify;
	}
	.hiw-row-content {
		padding: 0 ;
	}
	.hie-content p {
		padding: 0;
	}
	.hie-content {
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
	.header-row-hiw {
		padding: 0 ;
	}
	.hiw-box:nth-child(3) .hie-content {
		width: 100%;
		margin-top: 15px;
	}
	.hiw-box:nth-child(3) {
		align-items: center;
		justify-content: center;
		flex-direction: column;

	}
	.happy-customer {
		padding: 40px 0;
	}
	h1 {
		line-height: 1.3;
	}
	.header-row-hiw .hiw-header h2 + p, .review-title-div .review-title h2, .hc-title-div h2, .hiw-header h2{
		text-align: center;
	}
	.review-content {
		padding: 20px 0 30px 0;
	}
	.inner-banner {
		padding: 0;
	}
	.review-title-div .review-title h2 {
		margin-top: 30px;
	}
	.header-row-hiw {
		margin-bottom: 30px;
	}
	#myNavbar {
		padding-left: 30px;
	}
	.navbar--button {
		margin-top: 20px !important;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #fff;
		outline: none;
		border: 1px solid #000;
	}
	.next_bg, .stikcy-note-div4 {
		display: none;
	}
}